<!DOCTYPE html>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
<script type="text/javascript" src="js/data_model.js"></script>
<script type="text/javascript" src="js/cities.js"></script>
<% include header %>
<div id="response_div"></div>

<h2>Regions</h2>
<ul id="regions_ul" class="regions_ul"></ul>
<h2>Cities</h2>
<ul id="cities_ul" class="cities_ul"></ul>