<!DOCTYPE html>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
<script type="text/javascript" src="js/faction_model.js"></script>

<% include header %>
<div id="response_div"></div>

<h2>Factions</h2>
<ul id="factions_ul" class="factions_ul"></ul>