<!DOCTYPE html>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
<% include header %>
<div id="header_div"></div>

<body>
    <% if (loggedIn) { %>
      <h2>Hello, <%= username %>!</h2>
    <% } %>
    <div id="cool_div">

    Hey there. This is my personal site.
    Check back much later for content.
    </div>
</body>