<!DOCTYPE html>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
<script src="js/login.js"></script>
<% include header %>
<div id="response_div"></div>

<h2>Login Page</h2>

<div id = "login_div">
    Username: <input id="login_username_input" type="text" name="username"><br>
    Password: <input id="login_password_input" type="password" name="password"><br>
    <div id = "login_btn_container">
      <input id="login_button" type="submit" value="Log in">
      <input id="show_reg_button" type="submit" value="Register">
    </div>
</div>

<div id = "reg_div" style="display: none">
    Email: <input id="reg_email_input" type="text" name = "email"><br>
    Username: <input id="reg_username_input" type="text" name="username"><br>
    Password: <input id="reg_password_input" type="password" name="password"><br>
    <div id="reg_button_container">
      <input id="register_button" type="submit" value="Submit">
      <input id="show_login_button" type="submit" value="Back">
    </div>
</div>

<script>
    $(document).ready(function(){

        $("#login_button").click(function(){
            login.login();
        });

        $("#register_button").click(function(){
            login.register();
        });

        $("#show_reg_button").click(function(){
            $("#login_div").css("display", "none");
            $("#reg_div").css("display", "block");
        });

        $("#show_login_button").click(function(){
            $("#login_div").css("display", "block");
            $("#reg_div").css("display", "none");
        });

    });

</script>