<!DOCTYPE html>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
<script type="text/javascript" src="js/map.js"></script>

<% include header %>

<h2>World Map</h2>
<div id="map_div"></div>

<script>
    $(document).ready(function(){
      map.render();
    });

</script>