<!DOCTYPE html>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
<script type="text/javascript" src="js/map/map_canvas.js"></script>
<script type="text/javascript" src="js/map/mouse_data.js"></script>
<script type="text/javascript" src="js/map/main.js"></script>

<% include header %>

<h2 id="map_title" class="map_title">World Map</h2>
<canvas id="map_canvas" class="map_canvas" width="800px" height="800px"></canvas>