<!DOCTYPE html>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
<script type="text/javascript" src="js/data_model.js"></script>
<script type="text/javascript" src="js/orders.js"></script>

<% include header %>
<div id="response_div"></div>

<h2>Pending Orders</h2>
<ul id="orders_ul" class="orders_ul"></ul>