<!DOCTYPE html>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>
<% include header %>

<div>
  <strong>This is <%= displayedUser %>'s profile!</strong>
</div>
<section id="display_section" class="panel">
  <br><br><br>
  <% for (var key in extra) { %>    
    <label><strong><%= key %>:&nbsp;</strong></label><%= extra[key]%>
    <br>
  <% } %>
</section>