.cool {
  color: red;
  background-color: black;
}

.panel {
  background-color: black;
}

body {
  color: red;
  background-color: black;
  background-image: linear-gradient(to right, black, #191818, #383434, #777171);
}

label {
  color: red;
  background-color: black;
}

.header_left {
  float: left;
  width: 10%;
}

.header_center {
  float: left;
  width: 80%;
}

.header_right {
  float: left;
  width: 10%;
}

.field_left {
  float: left;
  width: 20%;
}

.field_right {
  float: left;
  width: 80%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.img {
  max-width:100%;
  max-height:100%;
  object-fit: contain;
}