.panel {
  background-color: black;
}

body {
  color: red;
  background-color: black;
  background-image: linear-gradient(to right, black, #191818, #383434, #777171);
}

label {
  color: red;
  background-color: black;
}

.map_title {
  text-align: left;
}

.map_container {
  width: 100%;
  display: table;
}

.map_nav_div {
  display: table-cell; 
}

.map_div {
  margin: auto;
  width: 600px;
  height: 600px;
  background-color: #ffffcc;
  display: table-cell;
}

.map_info_div {
  display: table-cell;
  background-color: #666699;
  color: black;
  height: 600px;
  max-width: 600px;
  visibility: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.map_city_icon {
  color: black;
  background-color: grey;
  width: 10px;
  height: 10px;
  position: relative;
}

.map_force_icon {
  color: red;
  background-color: red;
  width: 10px;
  height: 10px;
  position: relative;
}

.header_left {
  float: left;
  width: 10%;
}

.header_center {
  float: left;
  width: 80%;
}

.header_right {
  float: left;
  width: 10%;
}

.field_left {
  float: left;
  width: 20%;
}

.field_right {
  float: left;
  width: 80%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.img {
  max-width:100%;
  max-height:100%;
  object-fit: contain;
}